VK_GROUP_ID=233127658
VK_TOKEN=vk1.a.XTkUvOpbeC9ReN0WxLLynwe19Xdfr5kt4_lWcFpJINpS4O-MsQMeSxc9WWj7IqBTDDOLcpdgjGS4MdBsorXIEosmvV-iYwbExBqZaRTdtl7DcrRsYg0uW1gavDc_SBItLjoCnje7WlO5vz8i5pxXgkSuiki9vMbfYZdjYZYF8q5z7sResjJ-ZdBKS73WMCmrgQx0I22rGY0rRR7HKCeC_g
ADMIN_IDS=25076348
DATA_DIR=data
LEADS_FILE=data/leads.xlsx
BACKUP_DIR=data/backups
LOG_LEVEL=INFO
TIMEZONE=Europe/Moscow